<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @*Template Header Files *@

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")css/main.css">
    <!--===============================================================================================-->

</head>
<body class="animsition">

    <div>
        @RenderBody()
    </div>




    <!-- Footer -->
    <footer>
        <section class="footer-copyright">
            <div style="text-align:center;width: 100%">
                Giveawaycoupon.com is a participant in the Amazon Services LLC Associates Program, an affiliate
                advertising program designed to provide a means for website owners to earn fees by linking to
                Amazon.com and affiliated sites, as well as to other websites that may be affiliated with
                Amazon
                Service LLC Associates Program
            </div>
            <div class="footerul">


                <ul class="footer">
                    <li class="footer-item"><a href="/about#about_us">About Us</a></li>
                    <li class="footer-item"><a href="/about#contact_us">Contact Us</a></li>
                    <li class="footer-item"><a href="/about#affiliate_disclosure">Affiliate Disclosure</a></li>
                    <li class="footer-item"><a href="/privacy-policy">Privacy Policy</a></li>
                    <li class="footer-item">
                        <a href="https://mailchi.mp/c41be98bc830/subscribe-now-giveawaycoupon">
                            Deals
                            Alert / subscribe
                        </a>
                    </li>
                </ul>
            </div>
            <p>Copyright 2018. GiveawayCoupon. All Rights Reserved</p>
        </section>
    </footer>

    <!--===============================================================================================-->
    <script type="text/javascript" src="@Url.Content("~/")js/HomeAngularController.js"></script>
    <script src="@Url.Content("~/")js/main.js"></script>
</body>
</html>
